body {
  font-family: Arial;
  color: #333333;
  background-color: #ecf1f9;
  padding: 40px 0;
}



section,
header {
  padding: 20px 60px;

}



header {
  padding-top: 60px;
  display: flex;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 5px;
}




